@model ChatViewModel

<div class="chat">
    <div class="contacts">
        @{
            await Html.RenderPartialAsync("_Contact", new ContactViewModel());
        }
        <ul>
            @foreach(var contact in Model.Contacts)
            {
                <li>
                    @{
                        var imgpath = $"/ProfilePicture/{contact.ProfilePicture}";
                    }
                    <img src="@imgpath">
                    <a asp-action="Chat" asp-controller="Home" 
                    asp-route-contactId="@contact.ContactId">
                        @contact.UserName
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="messages">
        @if(Model.CurrentContact != null)
        {
            <h2>@($"{Model.CurrentContact.Name} {Model.CurrentContact.LastName}")</h2>
        }

        @foreach(var message in Model.Messages)
        {
            string msgclass = "";
            if (message.Sender != Model.UserId)
            {
                msgclass += "receiver-msg";
                <div class="message">
                    <div class="@msgclass">
                        <p>@message.Content</p>
                        <div class="send-date">@message.Created</div>
                    </div>
                    @if (!string.IsNullOrEmpty(message.ImgString))
                    {
                        var imgpath = $"/Images/{message.ImgString}";
                        <div class="@msgclass">
                            <img src="@imgpath">
                        </div>
                    }
                </div>
            }
            else
            {
                msgclass += "sender-msg";
                <div class="message">
                    <div class="@msgclass">
                        <div class="send-date">@message.Created</div>
                        <p>@message.Content</p>
                    </div>
                    @if (!string.IsNullOrEmpty(message.ImgString))
                    {
                        var imgpath = $"/Images/{message.ImgString}";
                        <div class="@msgclass">
                            <img src="@imgpath">
                        </div>
                    }
                </div>
            }
        }
        @{
            await Html.RenderPartialAsync("_Message", new MessageViewModel { Receiver = Model.CurrentContact.ContactId });
        }
    </div>
</div>