@model ChatViewModel

<div class="chat">
    <div class="contacts">
        @{
            await Html.RenderPartialAsync("_Contact", new ContactViewModel());
        }
        <ul>
            @foreach(var contact in Model.Contacts)
            {
                <li>
                    <a asp-action="Chat" asp-controller="Home" 
                    asp-route-contactId="@contact.ContactId">
                        @contact.UserName
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="messages">
        @if(Model.CurrentContact != null)
        {
            <h2>@($"{Model.CurrentContact.Name} {Model.CurrentContact.LastName}")</h2>
        }

        @foreach(var message in Model.Messages)
        {
            string msgclass = "message ";
            if (message.Sender != Model.UserId)
            {
                msgclass += "receiver-msg";
                <div class="@msgclass">
                    <p>@message.Content</p>
                    <div class="send-date">@message.Created</div>
                </div>
            }
            else
            {
                msgclass += "sender-msg";
                <div class="@msgclass">
                    <div class="send-date">@message.Created</div>
                    <p>@message.Content</p>
                </div>
            }
        }
        @{
            await Html.RenderPartialAsync("_Message", new MessageViewModel());
        }
    </div>
</div>